.container {
  width: 70%;
  margin: auto;
  display: flex;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.green-light-green {
  color: #99ea85;
}

.f-header {
  background-color: #3382f9;
  color: white;
}
.f-header ul {
  width: 100%;
  display: flex;
  justify-content: end;
}
.f-header ul li {
  margin-left: 40px;
  font-size: 12px;
  padding: 5px 0;
}

.col {
  height: 100px;
}

.col-sx {
  display: flex;
  align-items: center;
}
.col-sx #logo {
  max-width: 80px;
}

.col-dx {
  flex-grow: 1;
}
.col-dx ul {
  display: flex;
  justify-content: center;
}
.col-dx ul li {
  margin: 0 12px;
}
.col-dx ul li a {
  display: block;
  line-height: 95px;
  color: #1c1c1c;
}
.col-dx ul li a:hover {
  color: #3382f9;
  border-bottom: 5px solid #3382f9;
}

.wrap-serie {
  background-color: #1c1c1c;
  padding-bottom: 30px;
}
.wrap-serie .banner-text {
  margin-left: 14%;
  background-color: #3382f9;
  color: white;
  display: inline-block;
  padding: 7px 10px;
  position: relative;
  top: -19px;
}
.wrap-serie .container {
  color: white;
  flex-wrap: wrap;
}
.wrap-serie .button-more {
  text-align: center;
  margin-top: 40px;
}
.wrap-serie .button-more button {
  background-color: #3382f9;
  border: 0px;
  color: white;
  padding: 10px 50px;
  cursor: pointer;
}

.wrapping-jumbotron {
  height: 45vh;
  width: 100%;
  overflow: hidden;
}
.wrapping-jumbotron img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.link-serie {
  min-width: 80px;
  width: calc(16.6666666667% - 10px);
  max-width: 200px;
  color: inherit;
}
.link-serie .single-serie {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.link-serie .single-serie .img-serie {
  width: 170px;
  height: 170px;
  overflow: hidden;
  padding-bottom: 20px 0px;
}
.link-serie .single-serie .img-serie img {
  display: block;
}
.link-serie .single-serie h4 {
  padding: 20px 0;
  text-transform: uppercase;
}

#second-part-main {
  background-color: #3382f9;
}
#second-part-main .container {
  height: 100%;
}
#second-part-main .container .col {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
#second-part-main .container .col-img {
  width: 45px;
}
#second-part-main .container .col-text {
  padding: 0 10px;
  font-size: 14px;
  color: white;
}

#details-comic {
  padding: 50px;
}
#details-comic .wrapping-col {
  display: flex;
  width: 100%;
}
#details-comic .wrapping-col .col-dx {
  width: 70%;
  padding-right: 30px;
}
#details-comic .wrapping-col .col-dx .wrapping-i-col {
  display: flex;
  width: 100%;
  margin: 20px 0px;
  color: white;
}
#details-comic .wrapping-col .col-dx .wrapping-i-col .col-i-dx {
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
#details-comic .wrapping-col .col-dx .wrapping-i-col .col-i-sx {
  width: 25%;
  text-align: center;
  border-left: 1px solid black;
  height: 100%;
  padding: 15px;
}
#details-comic .wrapping-col .col-dx .wrapping-i-col .col-i-sx select {
  background-color: #55ba58;
  border: 0px;
  color: white;
}
#details-comic .wrapping-col .col-dx .price-section {
  background-color: #55ba58;
}
#details-comic .wrapping-col .col-dx .description {
  line-height: 30px;
}
#details-comic .wrapping-col .col-sx {
  width: 30%;
  display: block;
  text-align: right;
}
#details-comic .wrapping-col .col-sx h5 {
  font-size: 20px;
  padding: 20px;
  color: grey;
}
#details-comic .wrapping-col .col {
  height: 100%;
}

.blue-bar {
  height: 8vh;
  width: 100%;
  background-color: #3382f9;
  position: relative;
}
.blue-bar .card {
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: 21px;
  border: 2px solid white;
}
.blue-bar .card img {
  overflow: hidden;
  width: 100%;
}

.section-talent-specs {
  width: 100%;
  background-color: #f6f6f6;
  padding: 50px 0 150px 0;
}
.section-talent-specs .wrapping-talent-specs {
  display: flex;
  width: 100%;
}
.section-talent-specs .wrapping-talent-specs .col {
  width: 50%;
  height: 100%;
  padding: 0px 25px;
}
.section-talent-specs .wrapping-talent-specs .col h4 {
  color: #124670;
  font-size: 20px;
  padding: 10px 0;
}
.section-talent-specs .wrapping-talent-specs .col .section-talent, .section-talent-specs .wrapping-talent-specs .col .section-specs {
  display: flex;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 10px;
}
.section-talent-specs .wrapping-talent-specs .col .section-talent h5, .section-talent-specs .wrapping-talent-specs .col .section-specs h5 {
  flex-grow: 1;
}
.section-talent-specs .wrapping-talent-specs .col .section-talent .list, .section-talent-specs .wrapping-talent-specs .col .section-specs .list {
  display: flex;
  color: #3382f9;
}
.section-talent-specs .wrapping-talent-specs .col .section-talent .list a, .section-talent-specs .wrapping-talent-specs .col .section-specs .list a {
  flex-shrink: 1;
}
.section-talent-specs .wrapping-talent-specs .col .section-talent .list li, .section-talent-specs .wrapping-talent-specs .col .section-specs .list li {
  font-size: 10px;
}