.wrap-serie{
    background-color: $brand_secondary_color;
    padding-bottom: 30px;
    
        .banner-text{
            margin-left: 14%;
            background-color: $brand_primary_color;
            color: white;
            display: inline-block;
            padding: 7px 10px;
            position: relative;
            top: -19px;
        }
        .container{
            color: white;
            flex-wrap: wrap;
        }
        .button-more{
            text-align: center;
            margin-top: 40px;

            button{
                background-color: $brand_primary_color;
                border: 0px;
                color: white;
                padding: 10px 50px;
                cursor: pointer;
                
            }
        }
    
}