
#details-comic{
    padding: 50px;

        .wrapping-col{
            display: flex;
            width: 100%;
            
            .col-dx{
                width: 70%;
                padding-right: 30px;
        
                .wrapping-i-col{
                    display: flex;
                    width: 100%;
                    margin: 20px 0px;
                    color: white;
                    
                    .col-i-dx{
                        width: 75%;
                        display: flex;
                        justify-content: space-between;
                        padding: 15px;
                    }
        
                    .col-i-sx{
                        width: 25%;
                        text-align: center;
                        border-left: 1px solid black;
                        height: 100%;
                        padding: 15px;

                        select{
                            background-color: #55ba58;
                            border: 0px;
                            color: white;
                        }
                    }
                }
                .price-section{
                    background-color: #55ba58;
                }
                .description{
                    line-height: 30px;
                }
            }
        
            .col-sx{
                width: 30%;
                display: block;
                text-align: right;

                h5{
                    font-size: 20px;
                    padding: 20px;
                    color: grey;
                }
            }
        
            // generic col
            .col{
                height: 100%;
            }
        }
}