.link-serie{
    min-width: 180px;
    width: calc((100% / 6) - 10px);
    color: inherit;
    
    .single-serie{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 5px;

        .img-serie{
            width: 170px;
            height: 170px;
            overflow: hidden;
            padding-bottom: 20px 0px;
            
            img{
                display: block;
            }
        }
        h4{
            max-width: 170px;
            padding: 20px 0;
            text-transform: uppercase;
        }
    }
}